// font family stack
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
$font-family-roboto:'Roboto', sans-serif;

//primary color variables
$black:#000;
$white:#fff;
$blackPrimary: #282c3f;

$ratinggood:#48c479;
$ratingbad:#db7c38;
